{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="breadcrumb"><a href="{% url 'home' %}">Home</a>  /  Meeting</span>
          <h3>Schedule a meeting</h3>
        </div>
      </div>
    </div>
  </div>

 <section class="ticket-section section-padding">
    <div class="section-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-10 mx-auto">
                <form class="custom-form ticket-form mb-5 mb-lg-0" method="POST" role="form">
                    {% csrf_token %}
                    <h2 class="text-center mb-4">Schedule a Meeting with Brain Swarm</h2>

                    <div class="ticket-form-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                {{ meeting_form.name }}
                                {% if meeting_form.name.errors %}
                                    <div class="text-danger">{{ meeting_form.name.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="col-lg-6 col-md-6 col-12">
                                {{ meeting_form.email }}
                                {% if meeting_form.email.errors %}
                                    <div class="text-danger">{{ meeting_form.email.errors }}</div>
                                {% endif %}
                            </div>
                        </div>

                        {{ meeting_form.phone }}
                        {% if meeting_form.phone.errors %}
                            <div class="text-danger">{{ meeting_form.phone.errors }}</div>
                        {% endif %}

                        <h6>Meeting Purpose</h6>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-check form-control">
                                    <input class="form-check-input" type="radio" name="meeting_purpose" id="flexRadioDefault1" value="buy_kit">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Buy Robotics Kit
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-check form-check-radio form-control">
                                    <input class="form-check-input" type="radio" name="meeting_purpose" id="flexRadioDefault2" value="custom_project">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Discuss Custom Project
                                    </label>
                                </div>
                            </div>
                        </div>
                        {% if meeting_form.meeting_purpose.errors %}
                            <div class="text-danger">{{ meeting_form.meeting_purpose.errors }}</div>
                        {% endif %}

                        {{ meeting_form.preferred_date }}
                        {% if meeting_form.preferred_date.errors %}
                            <div class="text-danger">{{ meeting_form.preferred_date.errors }}</div>
                        {% endif %}

                        {{ meeting_form.message }}
                        {% if meeting_form.message.errors %}
                            <div class="text-danger">{{ meeting_form.message.errors }}</div>
                        {% endif %}

                        <div class="col-lg-4 col-md-10 col-8 mx-auto">
                            <button type="submit" class="form-control">Schedule</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>


{% endblock %}
